<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Administrator</title>
</head>
<body>
<h2>Create Administrator</h2>
<form th:action="@{/administrators}" th:object="${administrator}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></span>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" th:field="*{phone}" />
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></span>
    </div>
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" />
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red;"></span>
    </div>
    <button type="submit">Save</button>
</form>
<a href="/administrators">Back to List</a>
</body>
</html>